---
layout: main
---
<div class="container text-center">
        <h1 class="my-5">{{ site.name }}</h1>
        <svg class="bi" height=90 aria-hidden="true"><use xlink:href="#logo"></use></svg>
    </div>
{% for image in site.static_files %} {% if image.path contains "/assets/images/misc" %}
    <div class="px-4 py-5 my-5 text-center">
        <div class="col-lg-6 mx-auto">
            <img src="{{ image.path }}" width="500rem" class="rounded mx-auto d-block" alt="Information Image">
        </div>
    </div>
{% endif %} {% endfor %}
