<!-- Disclaimer Script -->
    <script src="/assets/scripts/disclaimer.js"></script>

    <!-- Modal Disclaimer -->
    <div class="modal fade" id="modal-disclaimer" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal-disclaimer-title">Disclaimer</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <p>We are a fictitious company for a college group project assignment.</p>
                    <p>We also store cookies.</p>
                </div>
                <div class="modal-footer">
                <button type="button" id="disclaimer-understood" class="btn {{ site.data.visual.button }}">I Understand</button>
                </div>
            </div>
        </div>
    </div>