<footer class="footer  mt-auto pt-3">
        <div class="container">
            <div class="navbar bg-body-secondary rounded">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse d-flex flex-wrap justify-content-between align-items-center d-lg-flex">
                        <div class="col-md-4 d-flex align-items-center">
                            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                            </a>
                            <span class="mb-md-0 text-body-secondary"> © {{ site.time | date: '%Y' }} {{ site.name }}, Inc</span>
                        </div>
                        <ul class="nav col-md-4 me-2 justify-content-end list-unstyled d-flex">
                            <li class="ms-3"><a class="text-body-secondary" href="{{ site.youtube }}"><svg class="bi align-middle" width="24" height="24"><use xlink:href="#youtube"></use></svg></a></li>
                            <li class="ms-3"><a class="text-body-secondary" href="mailto:{{ site.email }}"><svg class="bi align-middle" width="24" height="24"><use xlink:href="#email"></use></svg></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>