<header>
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-body-secondary rounded">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-target" aria-controls="navbar-target" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="icon-link navbar-brand justify-content-right justify-content-lg-left col-lg-3 p-1 me-0" {% if page.url == "/" %} href="#" {% else %} href="/" {% endif %}>
                        {{ site.name }}
                        <!-- <svg class="bi" width="30" height="30" aria-hidden="true"><use xlink:href="#logo"></use></svg> -->
                    </a>
                    <div class="collapse navbar-collapse col-lg-3" id="navbar-target">
                        <div class="container-fluid pt-3 pt-lg-0">
                            <ul class="navbar-nav justify-content-lg-center">
                                {% for each_page in site.data.navigation %}
                                <li class="nav-item">
                                    <a
                                        class="nav-link{% if page.url == each_page.path %} active{% endif %}{% if each_page.disabled %} disabled{% endif %}"
                                        {% if page.url == each_page.path %}aria-current="page"{% endif %}
                                        {% if each_page.disabled %}aria-disabled="true"{% endif %}
                                        {% if page.url == each_page.path %}href="#"{% else %}href="{{ each_page.path }}"{% endif %}>
                                        {{ each_page.name }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="d-lg-flex col-lg-3 d-none d-lg-block justify-content-lg-end"></div>
                </div>
            </nav>
        </div>
    </header>